/* some style overrides */
.reveal figure {
	margin-bottom: 15px;
}
.reveal figure img {
	max-width: 100%;
}

.reveal h1 {
	font-size: 3em;
}

.reveal figcaption {
	margin-top: -15px;
	font-size: 0.6em;
}

.reveal .attribution {
	text-align: right;
}

.reveal .footnote {
	font-size: 0.5em;
	margin: 0;
}

.reveal .small {
	font-size: 0.7em;
}

.reveal .large {
	font-size: 1.2em;
}
