.reveal {
	/* increase default solarized text contrast */
	color: #496169;
}

.sr-only {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	white-space: nowrap;
}

.left {
	float: left;
	width: 50%;
	margin: 0;
}

.right {
	float: right;
	width: 50%;
	margin: 0;
}

.text-emphasis {
	font-size: 1.5em;
	text-transform: uppercase;
}

.reveal section img {
	background: none;
	box-shadow: none;
	border: none;
	max-width: 100%;
	vertical-align: middle;
}

.reveal .attribution {
	font-size: 0.5em;
}

.magic-a11y {
	position: relative;
}

.magic-animation {
	position: absolute;
	bottom: -300px;
	left: -300px;
	width: 300px;
	transition: all 1s linear;
	z-index: 10;
}

.magic-a11y.visible .magic-animation {
	bottom: calc(100% + 300px);
	left: calc(100% + 300px);
}

.overlay-container {
	position: relative;
}

.overlay {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.reveal h1 {
	font-size: 3em;
}

.reveal .global-footer {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	box-sizing: border-box;
	padding: 10px;
	font-size: 0.6em;
	color: grey;
	z-index: 2;
}

.global-footer a {
	color: grey;
}

.reveal .quote-with-thumb {
	display: flex;
	align-items: center;
	justify-content: left;
	text-align: left;
	width: 100%;
}

.reveal section .quote-thumb {
	flex: 0;
	margin: 5px 20px 5px 0;
	width: 20%;
}

/* specific slides */
.profile-slide > div {
	display: flex !important;
	align-items: start;
}

.profile-slide .profile {
	width: 40%;
}

.profile-slide .desc {
	text-align: left;
}

.pony-button {
	background-color: #ffffff;
	border: 2px solid #006be6;
	color: #006be6;
	display: inline-block;
	font-size: 56px;
	font-weight: bold;
	line-height: 24px;
	min-width: 160px;
	padding: 30px;
	margin: 0 auto;
}

.reveal .pony-button img {
	height: 100px;
	margin: 0;
	margin-left: 25px;
}

.reveal pre {
	font-size: 0.7em;
}

.reveal .inline-pre,
.reveal .inline-pre code {
	display: inline;
}

@keyframes pony-dance {
  0%   { transform: rotateZ(0deg); }
  50% { transform: rotateZ(45deg); }
	100%   { transform: rotateZ(0deg); }
}

.pony-button:focus img {
	animation: pony-dance 1s infinite;
}

.reveal .takei {
	position: absolute;
	right: -20%;
	top: 20%;
}

.reveal section img.character {
  height: 100vh; }

.reveal .character-slide blockquote {
	box-sizing: border-box;
  position: absolute;
  bottom: 40vh;
  left: 0;
	padding: 0;
  text-align: center;
  width: 100%;
}

.reveal .character-slide blockquote span {
  background: #fff;
	box-sizing: border-box;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
  display: inline-block;
  padding: 0.25em;
	width: 100%;
}

.reveal .slide-background[data-background-hash*='cavemanAvatar'] {
	background: url("./cavemanAvatar.svg") -60px -50px no-repeat, url("./cavemanbg2.svg") no-repeat;
	background-size: 300px, cover;
}

.reveal [data-background='cavemanAvatar'] p {
	color: #fff;
}

.reveal .slide-background[data-background-hash*='internsAvatar'] {
	background: url("./internsAvatar.svg") -60px -50px no-repeat;
	background-size: 300px;
}

.reveal .slide-background[data-background-hash*='inventorAvatar'] {
	background: url("./inventorAvatar.svg") -60px -50px no-repeat;
	background-size: 300px;
}
