.sr-only {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	white-space: nowrap;
}

.left {
	float: left;
	width: 50%;
	margin: 0;
}

.right {
	float: right;
	width: 50%;
	margin: 0;
}

.text-emphasis {
	font-size: 1.5em;
	text-transform: uppercase;
}

.reveal .controls .navigate-right.highlight {
	animation: none;
}

.reveal section img {
	background: none;
	box-shadow: none;
	border: none;
	max-width: 100%;
	vertical-align: middle;
}

.reveal .attribution {
	font-size: 0.5em;
}

.reveal h1 {
	font-size: 3em;
}

.reveal a {
	text-decoration: underline;
}

.reveal .global-footer {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	box-sizing: border-box;
	padding: 10px;
	font-size: 0.6em;
	color: grey;
	z-index: 2;
}

.global-footer a {
	color: grey;
}

/* custom text */
.large {
	font-size: 1.25em;
}

.small {
	font-size: 0.8em;
}

blockquote {
	text-align: left;
}


/* Specific slide styles */
.terms-input {
	padding: 0.5em 1em;
	margin: 0.5em 0;
	border: 2px solid #000;
	box-sizing: border-box;
	font-size: 1em;
	width: 100%;
	max-width: 550px;
}

.reveal .terms-list {
	height: 10.5em;
	overflow: hidden;
	padding: 1px;
	margin: 0;
	list-style-type: none;
	width: 100%;
	max-width: 550px;
}

.terms-list li {
	height: 1.5em;
	border: 1px solid #666;
	border-bottom: 0;
	text-align: left;
	padding: 0 0.5em;
	overflow: hidden;
}

.terms-list li:last-child {
	border-bottom: 1px solid #666;
}

.cat-list > div {
	position: absolute;
	left: 0;
	top: 50%;
}

.cat-list {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	pointer-events: none;
}

.result-cat p {
	position: absolute;
	top: -25%;
	right: -10%;
	background-color: #000;
	color: #fff;
	padding: 5px;
	border-radius:3px;
}

.result-cat p::after {
	content: "";
	position: absolute;
	bottom: -10px;
	right: 40%;
	border-top: 10px solid #000;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
}

.profile-slide > div {
	display: flex !important;
	align-items: start;
}

.profile-slide .profile {
	width: 40%;
}

.profile-slide .desc {
	text-align: left;
}

/* stats slides */
.stats-card {
	display: flex;
}

.stats-table {
	font-size: 0.8em;
}

.reveal .stats-image {
	display: block;
	margin-left: 1em;
}

.stats-table td:first-child {
	font-weight: bold;
}

/* ARIA badges */
.badges {
	margin: 1.5em 0 0;
}

.badges li {
	list-style: none;
	display: inline-block;
	position: relative;
	margin: 0 0.5em;
	padding: 0.2em 0.75em 0.2em 0.5em;
	border: 2px solid #666;
	border-radius: 4px;
	background-color: #f2f2f2;
	font-size: 0.6em;
}

.badges li::before {
	content: '';
	background: center / contain no-repeat url(check.svg);
	position: absolute;
	border-radius: 50%;
	background-color: #fff;
	top: -.75em;
	right: -.75em;
	width: 1.5em;
	height: 1.5em;
}

/* Toast slide */
.toast-example {
	position: absolute;
	bottom: 20%;
	right: 0;
	width: 30%;
	border: 2px solid #a20000;
	border-radius: 4px;
	background-color: #ffd8d8;
	padding: 0.2em;
	transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
	opacity: 1;
	transform: translate(0, 0);
}

.toast-example.hidden {
	display: none;
}

.toast-example.transition-start {
	opacity: 0;
	transform: translate(0, 50%);
}

.reveal .toast-example img {
	display: block;
	margin: 0;
}

.toast-close {
	position: absolute;
	top: 0;
	right: 0;
	background-color: #a20000;
	color: #fff;
	padding: 0.2em;
	border-radius: 50%;
	border: 0;
	width: 2em;
	height: 2em;
	font-size: 0.5em;
	transform: translate(50%, -50%);
}

/* alert and status boxes */
.alert-visual {
	padding: 0.5em;
	margin-bottom: 0.2em;
	border: 2px solid #a20000;
	border-radius: 4px;
	background-color: #ffd8d8;
}

.status-visual {
	border-radius: 4px;
	background-color: #c3c6d3;
}

.status-visual-item {
	padding: 0.5em;
	margin-bottom: 0.2em;
	border: 2px solid #0047a2;
	border-radius: 4px;
	background-color: #e8edff;
}